/*reset*/
/*---------------清除默认样式----------------*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, table, td, img, div, dl, dt, dd, input, button {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

ul,li {
    list-style: none;
}

a, input, button, select, textarea,
a:focus, input:focus, button:focus, select:focus, textarea:focus {
    outline: none;
}

/*input, input:focus, button:focus {*/
/*-moz-appearance: none; !* Firefox *!*/
/*-webkit-appearance: none; !* Safari 和 Chrome *!*/
/*}*/
/*设置默认样式为none*/
.appearance-none, .appearance-none:focus {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}

input:hover {
    border-color: #acacac;
}

input:focus {
    border-color: #8a8a8a;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

